@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

:root{
        --icon: #000000;
        --bgheader: #878787;
        --h1: 5rem;
        --opa:#eeeeeeaa;
        --form: #000000c1;
}

body{
        font-family: serif;
}

p{
        font-family: "Inconsolata", serif;;
}